/* Overwrite HTML Tags*/
body {
    background-color:white;
    background-repeat: repeat-y;
    font-family:Arial;
    font-size:12px;
}
div {
    padding-left:10px;
    padding-top:10px;
    align:left;
}
hr {
    margin-top:2px;
    margin-bottom:2px;
    align:center;
    background-color:grey;
}
td {
    vertical-align:top;
}


/* Page Headings */
.heading {
    color:#439889;
    text-align: center;
    vertical-align:top;
    font-weight:bold;
    font-size:20px;
    background-color:white;
}
.heading2 {
    color:#439889;
    text-align: center;
    vertical-align:top;
    font-weight:bold;
    font-size:20px;
}
.heading3 {
    color:#439889;
    text-align: left;
    vertical-align:top;
    font-weight:bold;
    font-size:20px;
}

/* Login Page */
.login_form {
    color:black;
    background-color:#f4f4f4;
    border:thin solid #439889;
    padding-left:50px;
    width:650px;
}


/* Top Nav Bar */
.nav_bar {
 background-color:white;
 vertical-align:bottom;
 align:left;
 padding-left:5px;
 padding-bottom:5px;
}

.nav_button {
    background-color: #439889;
    border: none;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    width:140px;
    padding-right:5px;
}


/* Active Admins User List */
.AdminHeading {
    color:#439889;
    align:left;
    text-align: left;
    vertical-align:top;
    font-weight:bold;
    font-size:17px;
}

.AdminList {
    align:left;
    text-align: left;
    vertical-align:top;
    font-size:16px;
    padding-top:10px;
    padding-left:2px;
    padding-right:5px;
    background-color:white;
    border-right:thin solid black;
    border-top:thin solid black;
}

#active_users {
    margin: 0;
    padding: 0px 0px 0px 2px;
    list-style: none;
    font-size: 11px
}
#active_users li:before{
    content: "•  ";
    inline-block;
    color: #64dd17;
}


/* CMD Form */
.text_wrap {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
    max-width:350px;
}

textarea {
    font-size:11px;
    font-family:Arial;
    color:black;
    background-color:white;
    width:750px;
    height:110;
}

.cmd_form {
    width:850px;
    color:black;
    background-color:#f4f4f4;
    border:thin solid #439889;
    padding-left:10px;
}

/* Display Active Clients Table */
#client_table {
  align-text:center;
  border: .5px solid black;
  overflow: auto;
  display:block;
  font-size: 11px;
  width:750px;
  height:150px;
  background-color: white;
  text-align: left;
  vertical-align:center;
}

#client_table th{
    border-bottom: thin solid #696969;
    vertical-align:middle;
}

#client_table td{
    border-bottom: thin solid #696969;
    vertical-align:middle;
}

/* Dropdown Help Table */
#help_table {
  align-text:center;
  border: .5px solid black;
  font-size: 12px;
  width:750px;
  background-color: white;
  text-align: left;
  vertical-align:center;
}

#help_table th {
  font-weight:bold;
  border-bottom: thin solid #696969;
  padding: 1px 0px 1px 2px;
}

#help_table td {
    border-bottom: thin solid #696969;
    padding: 1px 0px 1px 2px;
}

/* Log Table Display */
#log_table {
    /* 10px longer to match cmd form, idk why */
    width:860px;
    color:black;
    background-color:#f4f4f4;
    border:thin solid #439889;
    padding-left:10px;
    text-align:left;
    vertical-align:top;
    font-size:11px;
}