<html>
  <head>
  <title>TransportC2 Login</title>
    <script src="/static/js/transport.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/transport.css">
  </head>

  <body>
    <table height="100%" width="100%" cellpadding="0" cellspacing="0">
      <tr style="border-bottom:thin solid black;" height="65px">
        <td  width="175px" class="heading" style="border-right:thin solid black;padding-top:5px;">
          TransportC2
          <hr width="120px">
          Admin Interface
        </td>
	    <td style="background-color:white;" colspan="2"></td>
      </tr>

      <tr>
	    <td style="border-right:thin solid black;border-top:thin solid black;" class="nav">
          <br>
          <input class="nav_button" type="button" onclick="Home();" value="Home">
          <br><br>
          <input class="nav_button" type="button" onclick="AddAdmin();" value="Add Admin">
          <br><br>
          <input class="nav_button" type="button" onclick="PassChange();" value="Change Password">
          <br><br>
          <input class="nav_button" type="button" onclick="LogOut();" value="Log Out">
          <br><br>
        </td>
        <!-- Login Form Form -->
        <td style="border-top:thin solid black;">
          <div style="padding-left:50px;padding-top:50px;">
            <h2>Success, Your changes have been made</h2>
            <h4>You will now be redirected</h4>
            <script>setTimeout(Home(), 5500);</script>
          </div>
        </td>
      </tr>
      <tr>
        <td style="border-right:thin solid black;">
        <td></td>
      </tr>
    </table>
  </body>
</html>
